*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;

}

.menu{
    display: flex;
    padding: 5px;
}

.img_logo{
    width: 200px;
}

.item_menu{
    color: #004a8d;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    gap: 8px;
    align-items: center;
}

.cards_de_preços{
    display: flex;
}

.entrar_cadastrar{
    display: flex;
    flex-direction: column;
}
